// lib3ds settings for all configuration


INSTALL_PATH = $(HOME)/Library/Frameworks
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
LD_DYLIB_INSTALL_NAME = @executable_path/../Frameworks/$(EXECUTABLE_PATH)
PREBINDING = NO
FRAMEWORK_VERSION = A
INFOPLIST_FILE = Resources/GenericFramework-Info.plist
PRODUCT_NAME = lib3ds
ALWAYS_SEARCH_USER_PATHS = NO

FRAMEWORK_SEARCH_PATHS =
HEADER_SEARCH_PATHS =

WARNING_CFLAGS = -Wno-format -Wno-switch-enum -Wno-comment
