// Global settings for all configurations


ARCHS = i386 ppc
SDKROOT = macosx10.5
SDKROOT[arch=x86_64] = macosx10.6
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
MACOSX_DEPLOYMENT_TARGET = 10.5
MACOSX_DEPLOYMENT_TARGET[sdk=macosx10.6] = 10.6
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = full
GCC_OPTIMIZATION_LEVEL = 2
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_ALTIVEC_EXTENSIONS = YES
OTHER_CFLAGS = $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __MACOSX__

FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_QT_QUOTED) $(FRAMEWORK_BUILT_QUOTED)
HEADER_SEARCH_PATHS = $(QTCORE_QUOTED)

FRAMEWORK_QT = $(SRCROOT)/external/QT
FRAMEWORK_QT_QUOTED = "$(FRAMEWORK_QT)"
FRAMEWORK_BUILT_QUOTED = "$(SRCROOT)/build/$(CONFIGURATION)"

QTCORE_QUOTED = "$(FRAMEWORK_QT)/QtCore.framework/Versions/4/Headers"
QTGUI_QUOTED = "$(FRAMEWORK_QT)/QtGui.framework/Versions/4/Headers"
QTOPENGL_QUOTED = "$(FRAMEWORK_QT)/QtOpenGL.framework/Versions/4/Headers"
QTXML_QUOTED = "$(FRAMEWORK_QT)/QtXml.framework/Versions/4/Headers"
QT3SUPPORT_QUOTED = "$(FRAMEWORK_QT)/Qt3Support.framework/Versions/4/Headers"
