// QGLViewer settings for all configuration

#include "Base-Framework.xcconfig"


PRODUCT_NAME = QGLViewer

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)

FRAMEWORK_SEARCH_PATHS = $(inherited)
HEADER_SEARCH_PATHS = $(inherited) $(QTCORE_QUOTED) $(QTGUI_QUOTED) $(QTOPENGL_QUOTED) $(QTXML_QUOTED) $(QT3SUPPORT_QUOTED) $(QTSQL_QUOTED)
