// Warzone Model Importer Tool settings for all configuration


INSTALL_PATH = $(HOME)/Applications
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
PREBINDING = NO
APPLY_RULES_IN_COPY_FILES = YES
INFOPLIST_FILE = Resources/Warzone Model Importer Tool-Info.plist
INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -traditional
// INFOPLIST_PREFIX_HEADER = $(SRCROOT)/build/autorevision.h
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = Warzone Model Importer Tool
WRAPPER_EXTENSION = app

FRAMEWORK_SEARCH_PATHS = $(inherited)
HEADER_SEARCH_PATHS = $(inherited) $(QTGUI_QUOTED) $(QTOPENGL_QUOTED) $(QTXML_QUOTED)
USER_HEADER_SEARCH_PATHS = "$(SRCROOT)/src"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited)
